.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding: 1%;

	.navbar-item {
		color: white;
		text-decoration: none;
		padding: 8px;

		&:hover {
			color: #b3b3b3;
		}
	}
	.active {
		color: #b3b3b3;
	}
}
