.about 
    height: 100vh
    text-align: center
    background-color: #282828
    display: flex
    flex-direction: column
    justify-content: center

    .header 
        display: flex
        align-items: center
        justify-content: center
        height: 35vh

        .about-description 
            color: white 
    
    .stats 
        height: 65vh
        width: 100%
        text-align: center

        .stats-header 
            .stats-header-title 
                color: white
                font-size: 2em
            
            .stats-header-subtitle 
                color: white
                font-size: 1em

        .stats-container 
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
