.container {
	display: grid;
	margin: 0 10%;
	grid-template-rows: 1fr min-content;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 20px;
	text-align: center;

	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-row-gap: 50px;
	}
}

.header {
	text-align: center;
	display: flex;

	.back {
		padding: 20px 30px;
	}

	.text {
		flex: 1;
		margin-right: calc(100% / 3);
	}

	.button {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
