.inactive {
	filter: brightness(50%)
}

.tile {
	width: 148px;
	margin: 10px;
	padding: 10px;
	background-color: #404040;
	cursor: pointer;
	img {
		border-radius: 50%;
		border-color: white;
		width: 128px;
		height: 128px;
	}

	&:hover {
		background-color: #606060;
	}
}
