.text {
	color: white;
	display: flex;
	justify-content: center;
}


.header {
	text-align: center;
	color: white;
	display: flex;

	a {
		color: white;
		background-color: #404040;
		text-decoration: none;
		padding: 20px 30px;
	}

	a:hover {
		background-color: #606060;
	}

	.text {
		flex: 1;
		margin-right: calc(100% / 3);
	}

	.button {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
