.text {
	color: white;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.button {
	a {
		display: block;
		color: white;
		background-color: #404040;
		text-decoration: none;
		padding: 20px 30px;
	}

	a:hover {
		background-color: #606060;
	}
}
