.hamburger {
	display: block;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;

	&:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.line {
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

	stroke: #fff;
	stroke-width: 1;
	stroke-linecap: round;
}

.open {
	&.line:nth-child(1) {
		transform: translateY(0) translateX(3px) rotate(45deg);
	}
	&.line:nth-child(2) {
		opacity: 0;
	}
	&.line:nth-child(3) {
		transform: translateY(3px) translateX(-4px) rotate(-45deg);
	}
}

.collapsed {
	&.line:nth-child(1) {
		transform: translateY(0px) translateX(0px) rotate(0deg);
	}

	&.line:nth-child(2) {
		opacity: 1;
	}

	&.line:nth-child(3) {
		transform: translateY(0px) translateX(0px) rotate(0deg);
	}
}
