body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100vh;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}

#root {
	background-color: #282828;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

* { box-sizing: border-box; }

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: #282828;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #404040;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #606060;
}
